NODE_ENV=<environment>
PORT=<port>

DATABASE_URL=<database_url>

OPENAI_API_KEY=<openai_api_key>
PINECONE_API_KEY=<pinecone_api_key>
PINECONE_ENVIRONMENT=<pinecone_environemnt>
PINECONE_INDEX_NAME=<pinecone_index_name>

JWT_ACCESS_SECRET=<jwt_access_secret>
JWT_REFRESH_SECRET=<jwt_refresh_secret>
COOKIE_SECRET=<cookie_secret>
ORIGIN=<cors_origin> // i.e ORIGIN=https://localhost:3000,https://yourdomain.com